#idea{
  width: 100%;
  padding: 10%;
  box-sizing: border-box;
  background-color: #ff533f;
  color: white;
}

#revision{
  width: 100%;
  padding: 10%;
  box-sizing: border-box;
  background-color: #ff533f;
  color: white;
}

sub{
  color: black;
}

p {
  font-size: 24px;
}