#idea{
  margin: auto;
  width: 85%;
  box-sizing: border-box;
  background-color: #ff533f;
  color: white;
}

#revision{
  margin: auto;
  width: 85%;
  box-sizing: border-box;
  background-color: #ff533f;
  color: white;
}

sub{
  color: black;
}

p {
  margin: auto;
  width: 85%;
  font-size: 24px;
}

button {
  width: 25%;
  padding: 10px;
}